html {
  background-color: #f0f0f0;
}

.App {
  font-family: "Varela Round", sans-serif;
  background-color: #f0f0f0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.My-Name {
  color: black;
  font-size: 18px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3b4cca;
  padding: 20px 40px;
}

.App-box {
  margin-top: 6vh;
}

.App-link {
  color: #cc0000;
}

.Pokemon-sprite {
  width: 60%;
  height: 60%;
}

.Action-box {
  border: 1px solid lightgrey;
  height: 100%;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  padding: 1.5em 2em 6em 2em;
  border-radius: 5px;
}

.Main-form {
  height: 100%;
}

.theNinetyPercent {
  height: 90%;
}
.End-action-button {
  width: 50%;
}

.Train-action {
  width: 70%;
  margin-top: 2em;
}

.Start-button {
  width: 12em;
}

.Pokemon-name {
  text-transform: capitalize;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: rgb(145, 24, 24);
}

.Pokedex-image{
  width: 80%;
}

@keyframes animate-sprite {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.Pokemon-sprite-small {
  vertical-align: middle;
  height: 4em;
  padding: 0;
  margin-left: -0.4em;
  margin-bottom: 0;
}

.Fabi {
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  left: 0vw;
}

.Capitalize {
  text-transform: capitalize;
}

.Player-boosted-stats {
  color: red;
}

.Absolute-center{
  position:absolute;
  margin-top: 1em;
}
